*{
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #6c757d transparent;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #6c757d;
}

/* body {
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
} */

/* src/App.css */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  

h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    color: black;
    background-color: rgb(220, 220, 252);
    transition: background-color 0.3s, color 0.3s;
}

.btn a {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover,
.btn:hover a {
    background-color: rgb(238, 238, 255);
    color: gray;
}

.buttons{
    display: flex;
    gap: 20px;
}

footer {
    text-align: center;
    /* background-color: #333333; */
    /* color: #ffffff; */
    /* height: fit-content; */
    /* padding: 16px 0; */
}